<mat-toolbar color="primary" class="mat-elevation-z3">
  <mat-toolbar-row>
    <span>Smart HTML Elements Demo</span>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="viewGitlabRepo()">
      <mat-icon
        class="example-icon"
        aria-hidden="false"
        aria-label="Example delete icon"
        >code</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container-fluid">
  <div class="row mt-3">
    <div class="offset-2 col-8 col-md-4 col-lg-2 tank-column">
      <smart-tank
        [min]="tankConfigurationForm.value.min"
        [max]="tankConfigurationForm.value.max"
        [value]="tankConfigurationForm.value.value"
        [interval]="tankConfigurationForm.getRawValue().interval"
        [orientation]="tankConfigurationForm.value.orientation"
        [readonly]="tankConfigurationForm.value.readonly"
        [coerce]="coerce && !tankConfigurationForm.value.readonly"
      ></smart-tank>
    </div>
    <div class="col-12 col-md-8 col-lg-6">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Tank Configuration</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="tankConfigurationForm">
            <div class="row">
              <div class="col-12 col-md-4">
                <mat-form-field class="example-full-width">
                  <mat-label>Min Value</mat-label>
                  <input
                    matInput
                    type="number"
                    placeholder="Min. Value"
                    formControlName="min"
                  />
                </mat-form-field>
              </div>
              <div class="col-12 col-md-4">
                <mat-form-field class="example-full-width">
                  <mat-label>Max Value</mat-label>
                  <input
                    matInput
                    type="number"
                    placeholder="Max. Value"
                    formControlName="max"
                  />
                </mat-form-field>
              </div>
              <div class="col-12 col-md-4">
                <mat-form-field class="example-full-width">
                  <mat-label>Interval</mat-label>
                  <input
                    matInput
                    type="number"
                    placeholder="Interval"
                    formControlName="interval"
                  />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6">
                <mat-form-field class="example-full-width">
                  <mat-label>Orientation</mat-label>
                  <mat-select formControlName="orientation">
                    <mat-option
                      *ngFor="let orientation of orientationOptions"
                      [value]="orientation.value"
                    >
                      {{ orientation.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-12 col-md-6">
                <mat-slide-toggle
                  formControlName="readonly"
                  (change)="onReadOnlyChanged()"
                  >Read Only</mat-slide-toggle
                >
              </div>
            </div>
          </form>
          <p class="text-secondary">
            Randomized data will be displayed in readonly mode for demo.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
