/* You can add global styles to this file, and also import other style files */
#watermark {
  display: none !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Montserrat, "Helvetica Neue", sans-serif; }
